*~
build/
builddir/
build-aux/build-dir
build-aux/flatpak_build
build-aux/.flatpak-builder
build-aux/io.github.alainm23.planify.Devel.flatpak
.flatpak-builder/
subprojects/gxml**/
*.snap
planify*txt
.flatpak
.buildconfig

/subprojects/blueprint-compiler
/data/resources/ui/*.ui
