@keyframes spin {
    from {-gtk-icon-transform: rotate(360deg);}
    to {-gtk-icon-transform: rotate(0deg);}
}

@keyframes fancy-turn {
    0%   { -gtk-icon-transform: rotate(0deg);   }
    25%  { -gtk-icon-transform: rotate(-30deg); }
    50%  { -gtk-icon-transform: rotate(0deg);   }
    75%  { -gtk-icon-transform: rotate(30deg);  }
    100% { -gtk-icon-transform: rotate(0deg);   }
}