.picker {
    background-color: @picker_bg;
}


.picker-bg {
    background-color: @picker_bg;
}

.picker-background {
    background-color: @picker_content_bg;
}

.picker-content {
    padding: 3px;
    border-radius: 6px;
    background-color: @picker_content_bg;
    border: 0.4px solid @menu_separator;
}

.time-button-picker {
    border-radius: 6px;
    background-color: @bg_color;
    border: 0.4px solid @menu_separator;
}

.quick-find-entry {
    background: @picker_content_bg;
    border-radius: 6px;
}

.quickfind-item {
    border-radius: 6px;
}

.quickfind-item:selected {
    color: @selected_fg_color;
}