@import url("stylesheet/variables.css");
@import url("stylesheet/animations.css");
@import url("stylesheet/calendar.css");
@import url("stylesheet/stylesheet.css");
@import url("stylesheet/sidebar.css");