.filter-pane-row-inbox {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha(#1e63ec, 0.15);
    border: 1px solid alpha(#1e63ec, 0.25);
    color: #1e63ec;
}

.filter-pane-row-inbox:selected image {
    animation: fancy-turn 0.7s ease-in-out;
}

.filter-pane-row-inbox-selected {
    box-shadow: 0px 0px 3px 1px #1e63ec;
}

.filter-pane-row-today {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha(#16af54, 0.15);
    border: 1px solid alpha(#16af54, 0.25);
    color: #16af54;
}

.filter-pane-row-today:selected image {
    animation: fancy-turn 0.7s ease-in-out;
}

.filter-pane-row-today-selected {
    box-shadow: 0px 0px 3px 1px #16af54;
}

.filter-pane-row-scheduled {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha(#9d59e0, 0.15);
    border: 1px solid alpha(#9d59e0, 0.25);
    color: #9d59e0;
}

.filter-pane-row-scheduled:selected image {
    animation: fancy-turn 0.7s ease-in-out;
}

.filter-pane-row-scheduled-selected {
    box-shadow: 0px 0px 3px 1px #9d59e0;
}

.filter-pane-row-pinboard {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha(#7e8087, 0.15);
    border: 1px solid alpha(#7e8087, 0.25);
    color: #7e8087;
}

.filter-pane-row-pinboard:selected image {
    animation: fancy-turn 0.7s ease-in-out;
}

.filter-pane-row-pinboard-selected {
    box-shadow: 0px 0px 3px 1px #7e8087;
}

.selectable-item {
    padding: 0;
    border-radius: 12px;
    transition: all 220ms ease-in-out;
    background-color: transparent;
}

.selectable-item:hover {
    background-color: transparent;
}

.selectable-item:selected {
    background-color: transparent;
}

/* .selectable-item:focus:focus-visible {
    outline: none;
} */

.selectable-item-selected {
    background-color: @shade_color;
    border-radius: 9px;
}