@define-color color_primary @BLUEBERRY_500;
@define-color accent_color @color_primary;
@define-color base_color #ffffff;
@define-color bg_color @SILVER_100;
@define-color item_bg_color @base_color;
@define-color item_border_color @menu_separator;

textview,
entry {
    caret-color: @color_primary;
}

.border-radius-6 {
    border-radius: 6px;
}

.listbox-separator-3 row:not(:first-child) {
    margin-top: 3px;
}

.listbox-separator-6 row:not(:first-child) {
    margin-top: 6px;
}

.listbox-separator-12 row:not(:first-child) {
    margin-top: 12px;
}

.main-view {
    background-color: @base_color;
}

.planner-sidebar {
    background-color: @bg_color;
}

.pane-content {
    padding: 6px;
    background-color: @base_color;
    border-radius: 6px;
    border: 0.4px solid @menu_separator;
}

.pane-listbox-background {
    background-color: @base_color;
}

.listbox-background {
    background-color: @base_color;
}

.selectable-item {
    border-radius: 6px;
    transition: all 220ms ease-in-out;
}

.selectable-item:selected {
    background-color: transparent;
    color: @text_color;
    font-weight: bold;
}

.selectable-item-selected {
    background-color: @selected_bg_color;
    border-radius: 6px;
}

.selectable-item:selected image {
    animation: fancy-turn 0.7s ease-in-out;
}

.selectable-item label {
    font-weight: 500;
}

.no-padding {
    padding: 0;
}

.action-button image {
    transition: 0.35s;
}

.action-button:hover image {
    -gtk-icon-transform: scale(1.3);
}

.todoist-sync-button {
    padding: 3px;
}

.label-color {
    background: @colorAccent;
    border: 1px solid @borders;
    border-radius: 50%;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
}

.is_loading image {
    animation: spin 1000ms linear infinite;
}

.transition {
    transition: all 115ms ease-in-out;
}

.hidden-button {
    background-color: transparent;
}

.hidden-button image {
    transition: all 150ms ease-in-out;
    color: @text_color;
}

.hidden-button.opened image {
    -gtk-icon-transform: rotate(90deg);
}

.grid-motion {
    background-color: @selected_bg_color;
    border-radius: 6px;
}

.drag-begin {
    background-color: @base_color;
    border: 1px solid @menu_separator;
    border-radius: 6px;
    box-shadow: none;
    padding: 6px;
}

.opacity-1 {
    opacity: 1;
}

.title {
    font-weight:bold;
    font-size: 12pt;
    letter-spacing: -0.05em;
}

.editable-label entry {
    background: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    padding: 0;
}

.editable-buttons button {
    border-radius: 6px;
    padding: 1px;
}

.editable-buttons label {
    font-weight: 600;
}

.color-radio radio,
.color-radio radio:checked {
    background-color: @colorAccent;
    border-color: alpha (#000, 0.3);
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        0 1px 0 0 alpha (@colorAccent, 0.3);
    padding: 3px;
    -gtk-icon-shadow: none;
}

.color-radio radio:focus {
    border-color: @colorAccent;
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        inset 0 0 0 1px alpha (@accentColor, 0.05),
        0 1px 0 0 alpha (@accentColor, 0.3),
        0 0 0 1px alpha (@accentColor, 0.25);
}

.color-radio-dialog radio,
.color-radio-dialog radio:checked {
    padding: 6px;
}

.magic-button {
    border-radius: 50%;
    padding: 6px;
}

.magic-button:hover image {
    animation: add-animation 0.7s ease-in-out;
}

check {
    border-radius: 4px;
}

.row:selected {
    background-color: transparent;
}

.font-bold {
    font-weight: bold;
}

.font-weight-500 {
    font-weight: 500;
}

.card {
    border-radius: 6px;
    padding: 9px;
    background-color: @item_bg_color;
}

/* .item.drag-begin {
    background-color: @bg_color;
    border: 0.4px solid @item_border_color;
} */

.submit-spinner {
    min-width: 12px;
    min-height: 12px;
}

.no-selected:selected {
    background-color: transparent;
    color: @text_color;
}

.primary-color {
    color: @color_primary;
}

/*
    Menu
*/
.menu {
    padding: 6px;
}

.menu button:not(:first-child) {
    margin-top: 3px;
}

.menu-item {
    border-radius: 6px;
    padding-left: 3px;
}

.menu-item:hover {
    background-color: @item_bg_color;
}

.menu-item-danger:hover {
    background-color: alpha (@STRAWBERRY_300, 0.25);
}

.flowbox-color flowboxchild:selected {
    background-color: transparent;
}

.today {
    background-color: alpha (#f2dc00, .15);
    font-weight: 500;
    border-radius: 3px;
    padding: 2px 4px;
    color: #f2dc00;
}

.scheduled {
    background-color: shade (@SILVER_300, 1.1);
    font-weight: 500;
    border-radius: 3px;
    padding: 2px 4px;
    color: @BLACK_500;
}

.filter-pane-row-inbox {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha (@color_primary, .15);
    color: @color_primary;
}

.filter-pane-row-inbox-selected {
    box-shadow: 0px 0px 3px 1px @color_primary;
}

.filter-pane-row-today {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha (#ffaa00, .15);
    color: #ffaa00;
}

.filter-pane-row-today-selected {
    box-shadow: 0px 0px 3px 1px #ffaa00;
}

.filter-pane-row-scheduled {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha (#fa1955, .15);
    color: #fa1955;
}

.filter-pane-row-scheduled-selected {
    box-shadow: 0px 0px 3px 1px #fa1955;
}

.padding-3 {
    padding: 3px;
}

.filter-pane-row-pinboard {
    padding: 3px;
    border-radius: 6px;
    transition: all 220ms ease-in-out;
    background-color: alpha (#7e8087, .15);
    color: #7e8087;
}

.filter-pane-row-pinboard-selected {
    box-shadow: 0px 0px 3px 1px #7e8087;
}
