Source: com.github.alainm23.notable
Section: x11
Priority: extra
Maintainer: Alain M. <alainmh23@gmail.com>
Build-Depends: appstream,
               debhelper (>= 9),
               desktop-file-utils,
               libgranite-dev,
               libgtk-3-dev,
               meson,
               libgtksourceview-3.0-dev,
               valac (>= 0.26)
Standards-Version: 3.9.3

Package: com.github.alainm23.notable
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, 
Description: Hey young world
 This is a Hello World written in Vala using Meson build system.
