.titlebar {
    padding: 0 2px;
}

.sidebar-header {
    background-color: @bg_color;
}

.sidebar-header:dir(ltr) {
    border-top-right-radius: 0;
}

.sidebar-header:dir(rtl) {
    border-top-left-radius: 0;
}

.listview-header {
    background-color: @base_color;
}

.listview-header:dir(ltr) {
    border-top-left-radius: 0;
}

.listview-header:dir(rtl) {
    border-top-right-radius: 0;
}

paned {
    background-color: @base_color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

paned > separator {
    margin-right: 0;
    min-width: 2px;
    min-height: 2px;
}

.pane {
    background-color: @bg_color;
    border-bottom-left-radius: 4px;
}

.pane:dir(rtl) {
    border-bottom-right-radius: 4px;
}

.pane .inline-toolbar {
    background-color: @bg_color;
    -gtk-icon-style: symbolic;
}

.pane .inline-toolbar button {
    padding: 6px;
}

/*
    Pane
*/

.pane-row {
    transition: all 240ms ease-in-out;
    background-color: transparent;
}

.pane-row:selected {
    background-color: shade (@base_color, 0.92);
}

.inbox-row image {
    color: #3689e6;	
}

.inbox-row:selected {
    color: #3689e6;	
}

.today-row image {
    color: #f9c440;
}

.today-row:selected {
    color: #f9c440;
}

.upcoming-row image {
    color: #ed5353;
}

.upcoming-row:selected {
    color: #ed5353;
}

.inbox {
    color: #3689e6;	
}

.today {
    color: #f9c440;
}

.upcoming {
    color: #ed5353;
}

.text_color {
    color: @text_color;
}
/*
    Animations
*/

@keyframes fancy-turn {
    0%   { -gtk-icon-transform: rotate(0deg);   }
    25%  { -gtk-icon-transform: rotate(-30deg); }
    50%  { -gtk-icon-transform: rotate(0deg);   }
    75%  { -gtk-icon-transform: rotate(30deg);  }
    100% { -gtk-icon-transform: rotate(0deg);   }
}

.active {
  animation-name: fancy-turn;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

.font-size-small {
    font-size: 10px;
}