.titlebar {
    padding: 0 2px;
}

.sidebar-header {
    background-color: @bg_color;
}

.sidebar-header:dir(ltr) {
    border-top-right-radius: 0;
}

.sidebar-header:dir(rtl) {
    border-top-left-radius: 0;
}

.projectview_header {
    background-color: @base_color;
}

.projectview_header:dir(ltr) {
    border-top-left-radius: 0;
}

.projectview_header:dir(rtl) {
    border-top-right-radius: 0;
}

paned {
    background-color: @base_color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

paned > separator {
    margin-right: 0;
    min-width: 2px;
    min-height: 2px;
}

.pane {
    background-color: @bg_color;
    border-bottom-left-radius: 4px;
}

.pane:dir(rtl) {
    border-bottom-right-radius: 4px;
}

/*
    Pane
*/

.pane-item {
    font-weight: 600;
}

.action-row {
    transition: all 240ms ease-in-out;
    background-color: transparent;
}

.action-row:selected {
    background-color: shade (@base_color, 0.92);
    color: @text_color;
}

.project-row {
    transition: all 240ms ease-in-out;
    background-color: transparent;
}

.project-row:selected {
    background-color: shade (@base_color, 0.92);
    color: @text_color;
}

.project-row button {
    background-color: transparent;
}

.project-row:selected:focus image {
    color: @text_color;
    opacity: 0.75;
}

/*
.inbox-row:selected {
    color: #3689e6;	
}

.today-row:selected {
    color: #f9c440;
}

.upcoming-row:selected {
    color: #ed5353;
}
*/
.inbox-row image {
    color: #3689e6;	
}

.today-row image {
    color: #f9c440;
}

.upcoming-row image {
    color: #ed5353;
}

.inbox {
    color: #3689e6;	
}

.today {
    color: #f9c440;
}

.upcoming {
    color: #ed5353;
}

.text_color {
    color: @text_color;
}
/*
    Animations
*/

@keyframes fancy-turn {
    0%   { -gtk-icon-transform: rotate(0deg);   }
    25%  { -gtk-icon-transform: rotate(-30deg); }
    50%  { -gtk-icon-transform: rotate(0deg);   }
    75%  { -gtk-icon-transform: rotate(30deg);  }
    100% { -gtk-icon-transform: rotate(0deg);   }
}

.active {
  animation: fancy-turn 0.7s ease-in-out;
}

@keyframes add-animation {
    0% { -gtk-icon-transform: rotate(0deg); }
    100% { -gtk-icon-transform: rotate(180deg); }
}

.font-size-small {
    font-size: 10px;
}

/*
    OAuth Dialog
*/

.oauth-dialog {
    background-color: @base_color;
}

.text-color {
    color: @text_color;
}

.quick-find {
    border-radius: 4px;
}

.settings-button {
    border-radius: 50%;
    padding: 4px;
}

.add-project-image {
    transition: all 240ms ease-in-out;
}

.add-project-label {
    transition: all 240ms ease-in-out;
}

.add-project-label.active {
    color: #3689e6;
}

.add-project-image.active {
    animation: add-animation 0.5s ease-in-out;

    background-color: #3689e6;
    color: @color_text;
    border-radius: 4px;
}

.add-project-widget {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.3);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-shadow: none;
    margin: 12px;
    background-color: @bg_color;
}

.color-radio radio,
.color-radio radio:checked {
    border-color: alpha (#000, 0.3);
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        0 1px 0 0 alpha (@accentColor, 0.3);
    padding: 3px;
    -gtk-icon-shadow: none;
}
  
.color-radio radio:focus {
    border-color: @colorAccent;
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        inset 0 0 0 1px alpha (@accentColor, 0.05),
        0 1px 0 0 alpha (@accentColor, 0.3),
        0 0 0 1px alpha (@accentColor, 0.25);
}

.sync-image-rotate {
    -gtk-icon-transform: rotate(45deg);
}

.error_label {
    color: @error_color;
}

.font-bold {
    font-weight: bold;
}

.mode-button button:checked {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @selected_bg_color,
                1.05
            ),
            shade (
                @selected_bg_color,
                0.95
            )
        );
    border-color: shade (@selected_bg_color, 0.8);
    box-shadow:
        inset 0 0 0 1px alpha (#000, 0.05),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
    color: @selected_fg_color;
    text-shadow: 0 1px alpha (#000, 0.3);
    -gtk-icon-shadow: 0 1px alpha (#000, 0.3);
}