@define-color headerbar_color #ffe16b;

@define-color colorPrimary @headerbar_color;
@define-color textColorPrimary #333;

.titlebar {
    padding: 1px 6px;
}

.task {
    transition: all 250ms ease;
}

.task:selected {
    background-color: transparent;
    color: @fg_color;
}

.label-child {
    transition: all 150ms ease;
}

.label-child:focus {
    background-color: transparent;
    color: @fg_color;
}

.text-hover {
    color: #333;
}

.note-view text {
    background-color: @base_color;
}

.button-circular {
    border-radius: 100px;
}

.button-close {
    border-radius: 50px;
    padding: 0 0px;
    background-color: @fg_color;
    color: @bg_color;
}

.button-overlay-circular {
    border-radius: 50px;
    padding: 0 0px;
    background-color: @fg_color;
    color: @text_color;
}

.button-overlay-circular image {
    transition: all 240ms ease-in-out;
}

.button-overlay-circular.closed image {
    -gtk-icon-transform: rotate(-90deg);
}

.active-switch slider {
    min-height: 16px;
    min-width: 16px;
}

.settings-button {
    border-radius: 4px;
    padding: 2px;
}
.model-button:hover {
    background-color: #d7d7d7;
}

.revealer-button {
    padding: 0 8px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}

.revealer-button image {
    transition: all 240ms ease-in-out;
}

.revealer-button.closed image {
    -gtk-icon-transform: rotate(-180deg);
}

.show-settings-button {
    border: 0.5px solid @fg_color;
    box-shadow: none;
    padding: 3px;
    background-color: transparent;
}

.show-settings-button image {
    transition: all 240ms ease-in-out;
}

.show-settings-button.closed image {
    -gtk-icon-transform: rotate(-180deg);
}

.item-row {
    border-radius: 3px;
    color: @text_color;
}

.item-row:hover {
    border-radius: 3px;
    background-color: #fff394;
    color: #333;
}

.item-row:selected {
    background-color: #fff394;
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: #333;
}

.item-row:selected:focus {
    background-color: #ffe16b;
    color: #333;
}

.planner-radio check {
    border-radius: 50%;
}

.planner-button-no-focus {
    background-color: @base_color;
}

.planner-radio-disable check {
    border-radius: 50%;
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @base_color,
                0.99
            ),
            shade (
                @base_color,
                0.97
            )
        );
}

.planner-infobar revealer box {
    background-color: @base_color;
}

.planner-preferences-headerbar {
    background-color: @base_color;
}

.planner-entry-bold {
    font-weight: bold;
}

.planner-when-preview {
    color: @bg_color;
    padding: 0px 6px 0px 6px;
    background-color: @fg_color;
    border-radius: 3px;
}

.duedate-item {
    transition: all 200ms ease;
    background-color: alpha (@text_color, 0.15);
}

.calendar-selected:selected {
    background-color: @colorAccent;
    color: @selected_fg_color;

    padding: 0 8px;
    border-radius: 3px;
    border: none;
    box-shadow: none;
}

.calendar-no-selected:selected {
    background-color: transparent;
    color: @text_color;
}

.planner-entry {
    border: none;
}

.task-hover {
    background-color: #ffe16b;
    border-radius: 3px;
}

.planner-checked label {
    padding: 0px 0px 1px 0px;
}

.no-padding {
    padding: 0px;
}

.checklist-preview {
    background-image:
        linear-gradient(
            to bottom,
            shade (
            #666666,
                1.3
            ),
            #666666
        );
    border: 1px solid shade (#666666, 0.9);
    border-radius: 3px;
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.25),
        inset 0 -1px 0 0 alpha (#fff, 0.1),
        0 1px 2px alpha (#000, 0.3);
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    margin: 2px;
    padding: 2px 6px 2px 6px;
}

.color-button:hover {
    border: 3px solid @bg_color;
}

.highlight {
    border: 1px solid @BLUEBERRY_500;
}

.color-button:focus {
    border: 3px solid @bg_color;
}

.planner-popover {
    background-color: @base_color;
}

.planner-paste-menu {
    color: #FF5600;
    background-color: #FFF0D9;
    border-radius: 6px;
    border: 0.5px solid #FF5600;
    padding: 3px;
}

.planner-label-menu {
    color: #4A31CB;
    background-color: #E9ECFC;
    border-radius: 6px;
    border: 0.5px solid #4A31CB;
    padding: 3px;
}

.planner-share-menu {
    color: #CA55E2;
    background-color: #FCEDFF;
    border-radius: 6px;
    border: 0.5px solid #CA55E2;
    padding: 3px;
}

.planner-zoom-in-menu {
    color: #00CCA5;
    background-color: #DAFDF4;
    border-radius: 6px;
    border: 0.5px solid #00CCA5;
    padding: 3px;
}

.planner-zoom-out-menu {
    color: #48C522;
    background-color: #DBFCCE;
    border-radius: 6px;
    border: 0.5px solid #48C522;
    padding: 3px;
}

.color-1 {
  background-color: #c6262e;
  border-radius: 100px;
}

.color-2 {
  background-color: #f37329;
  border-radius: 100px;
}

.color-3 {
  background-color: #f9c440;
  border-radius: 100px;
}

.color-4 {
  background-color: #68b723;
  border-radius: 100px;
}

.color-5 {
  background-color: #3689e6;
  border-radius: 100px;
}

.color-6 {
  background-color: #a56de2;
  border-radius: 100px;
}


.color-7 {
  background-color: #333333;
  border-radius: 100px;
}


.color-n {
    border-radius: 100px;
    padding: 1px 1px;
}
