@define-color projectview_color shade (#FFFFFF, 0.985);
@define-color pane_color shade (#FFFFFF, 0.96);
@define-color pane_selected_color shade (#FFFFFF, 0.87);
@define-color pane_text_color #333333;
@define-color duedate_today_color #d48e15;

/*
    Dark theme
*/

/*@define-color projectview_color #333333;*/

entry {
    caret-color: #3689e6;
}

textview {
    caret-color: #3689e6;
}

button {
    border-radius: 4px;
}

.source-button {
    border-radius: 0px 3px 3px 0px;
}

.no-border {
    border-radius: 0px;
}

.planner-button {
    background-color: @base_color;
}

menu {
    background: shade (@base_color, 1.2);
    box-shadow: none;
    border-radius: 6px;
}

menu image {
    opacity: 1;
}

window.popup {
    border-radius: 7px;
}

window.popup decoration {
    border-radius: 7px;
    box-shadow:
        0 3px 8px alpha (#000, 0.2),
        0 1px 2px alpha (#000, 0.3);
}

menuitem:active,
menuitem:hover,
modelbutton:active,
modelbutton:hover,
.menuitem:active,
.menuitem:focus:active,
.menuitem:hover {
    background-color: @pane_selected_color;
}

menu {
    background-color: @base_color;
}

.sidebar-header {
    padding-left: 3px;
    background-color: @pane_color;
}

.sidebar-header:dir(ltr) {
    border-top-right-radius: 0;
}

.sidebar-header:dir(rtl) {
    border-top-left-radius: 0;
}

.projectview-header {
    padding-right: 3px;
    background-color: @projectview_color;
}

.projectview-header:dir(ltr) {
    border-top-left-radius: 0;
}

.projectview-header:dir(rtl) {
    border-top-right-radius: 0;
}

paned {
    background-color: @projectview_color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

paned > separator {
    margin-right: 0;
    min-width: 1px;
    min-height: 1px;
}

.pane {
    background-color: @pane_color;
    border-bottom-left-radius: 4px;
}

.pane:dir(rtl) {
    border-bottom-right-radius: 4px;
}

/*
    Pane
*/

.pane-item {
    font-weight: 600;
}

.pane-area {
    font-weight: 700;
}

.pane-entry {
    background-color: @pane_color;
    color: @text_color;
    padding-left: 0px;
}

.pane-entry:focus {
    border-bottom: 1px solid alpha (@colorAccent, 0.8);
    box-shadow: none;
}

.pane-row {
    transition: all 210ms ease-in-out;
    background-color: transparent;
}

.pane-row:selected {
    background-color: @pane_selected_color;
    color: @pane_text_color;
    border-radius: 6px;
}

.pane-row button {
    background-color: transparent;
}

.project-row:selected:focus image {
    color: @pane_text_color;
}

.header-row {
    transition: all 140ms ease-in-out;
    background-color: transparent;
}

.hidden-button {
    background-color: transparent;
}

.hidden-button image {
    transition: all 150ms ease-in-out; 
}

.hidden-button image {
    color: @text_color;
}

.hidden-button.opened image {
    -gtk-icon-transform: rotate(90deg);
}

.inbox {
    color: #3689e6;	
}

.today {
    color: #f9c440;
}

.upcoming {
    color: #ed5353;
}

.text_color {
    color: @text_color;
}

/*
    Item Row
*/

.item-row {
    transition: all 225ms ease-in-out;
}

.transition {
    transition: all 225ms ease-in-out;
}

.item-row:selected {
    background-color: transparent;
    color: @text_color;
}

.item-row:selected image {
    color: @text_color;
    opacity: 0.7;
}

.item-row-selected {
    border-radius: 6px;
    background-color: @base_color;
    padding-top: 6px;
    padding-left: 12px;
    margin-left: 6px;
    margin-right: 24px;
}

/*
    Check Row
*/

.check-row {
    background-color:transparent;
}
/*
    Area Row
*/

.area-row {
    background-color: transparent;
}

.area-row:selected {
    color: @text_color;
}

/*
    Animations
*/

@keyframes fancy-turn {
    0%   { -gtk-icon-transform: rotate(0deg);   }
    25%  { -gtk-icon-transform: rotate(-30deg); }
    50%  { -gtk-icon-transform: rotate(0deg);   }
    75%  { -gtk-icon-transform: rotate(30deg);  }
    100% { -gtk-icon-transform: rotate(0deg);   }
}

.active {
  animation: fancy-turn 0.7s ease-in-out;
}

@keyframes add-animation {
    0% { -gtk-icon-transform: rotate(0deg); }
    100% { -gtk-icon-transform: rotate(180deg); }
}

.sync.is_loading image {
    animation: spin 1000ms linear infinite;
}

.font-size-small {
    font-size: 10px;
}

/*
    OAuth Dialog
*/

.oauth-dialog {
    background-color: @base_color;
}

.text-color {
    color: @text_color;
}

.quick-find {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.3);
    background-color: shade (@base_color, 1.2);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 12px;
    text-shadow: none;
}

.quick-find list {
    background-color: shade (@base_color, 1.2);
}

.quick-find entry {
    border-radius: 4px;
}

.settings-button {
    border-radius: 50%;
    padding: 4px;
}

.add-project-widget {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.3);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-shadow: none;
    margin: 8px;
    background-color: @bg_color;
}

.color-radio radio,
.color-radio radio:checked {
    border-color: alpha (#000, 0.3);
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        0 1px 0 0 alpha (@accentColor, 0.3);
    padding: 3px;
    -gtk-icon-shadow: none;
}

.color-radio radio:focus {
    border-color: @colorAccent;
    box-shadow:
        inset 0 1px 0 0 alpha (@shadowColor, 0.7),
        inset 0 0 0 1px alpha (@shadowColor, 0.3),
        inset 0 0 0 1px alpha (@accentColor, 0.05),
        0 1px 0 0 alpha (@accentColor, 0.3),
        0 0 0 1px alpha (@accentColor, 0.25);
}

.color-radio-dialog radio,
.color-radio-dialog radio:checked {
    padding: 6px;
}

.sync-image-rotate {
    -gtk-icon-transform: rotate(45deg);
}

.font-bold {
    font-weight: bold;
}

.mode-button button:checked {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @selected_bg_color,
                1.05
            ),
            shade (
                @selected_bg_color,
                0.95
            )
        );
    border-color: shade (@selected_bg_color, 0.8);
    box-shadow:
        inset 0 0 0 1px alpha (#000, 0.05),
        0 1px 0 0 alpha (@bg_highlight_color, 0.3);
    color: @selected_fg_color;
    text-shadow: 0 1px alpha (#000, 0.3);
    -gtk-icon-shadow: 0 1px alpha (#000, 0.3);
}

.project-textview text {
    background-color: @projectview_color;
}

.new-item-entry {
    border-width: 0px 0px 0px 0px;
    background-color: @projectview_color;
}

.new-item-entry:focus {
    border-color: transparent;
    box-shadow: none;
}

.new-item-entry image.right {
    background-image:
        linear-gradient(
            to bottom,
            shade (
                #3689e6,
                1.3
            ),
                #3689e6
        );
    border-radius: 50%;
    color: #fff;    
}

.no-padding-right {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.textview text {
    background-color: @base_color;
}

.actionbar {
    background-color: @base_color;
}

.content-entry {
    color: @text_color;
    font-weight: 600;
    border-width: 0px 0px 0px 0px;
    background-color: @base_color;
}

.content-entry:focus {
    border-color: transparent;
    box-shadow: none;
}

.listbox {
    background-color: @projectview_color;
}

.grid-motion {
    background-color: alpha (#3689e6, 0.25);
    border-radius: 4px;
}

.drag-begin {
    background-color: alpha (#3689e6, 0.25);
    border-radius: 4px;
    border: 1px solid #3689e6;
}

.check-button,
.due-button,
.label-button {
    font-weight: 500;
}


.label {
    font-size: 13.6px;
}

.check-button image,
.due-button image,
.label-button image {
    color: @text_color;
    opacity: 0.7;
}

.delete-check-button {
    background-color: @text_color;
    color: @bg_color;
    border-radius: 50%;
    padding: 0px;
}

.delete-check-button image {
    transition: all 240ms ease-in-out;
}

.delete-check-button.closed image {
    -gtk-icon-transform: rotate(-90deg);
}

.preview {
    padding: 0px 6px 0px 6px;
    background-color: shade (@base_color, 0.96);
    border: 1px solid shade (@base_color, 0.85);
    border-radius: 4px;
    font-size: 11px;
}

.preview image,
.preview label {
    color: @text_color;
}

.highlight {
    box-shadow: 
        inset 0px 1px 8px -10px #3689e6,
        inset 0px -1px 6px -15px #3689e6,
	inset 0px 0px 0px 1.75px alpha (#3689e6, 0.75);
    color: @text_color;
    background-color: @pane_selected_color;
    border-radius: 6px;
}

.item-action-button {
    padding: 0px 3px 0px 3px;
    background-color: transparent;
}

/*
    Calendar Style
*/

.calendar-today {
    color: @colorAccent;
    border-radius: 6px;
    padding: 3px;
    font-weight: bold;
}

.calendar-day-selected {
    background-color: @colorAccent;
    color: #fafafa;
    border-radius: 6px;
    padding: 3px;
}

.search-icon {
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.inbox-icon {
    background-color: #3689e6;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.today-day-icon {
    background-color: #ffe16b;
    color: #333;
    border-radius: 4px;
    padding: 2px;
}

.today-night-icon {
    background-color: #555c68;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.upcoming-icon {
    background-color: #ed5353;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.due-clear {
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.due-label {
    font-weight: 600;
}

.add-button:hover {
    color: #3689e6;
}

.add-button:hover image {
    color: #3689e6;
    animation: add-animation 0.5s ease-in-out;

    background-color: #3689e6;
    color: #fff;
    border-radius: 4px;
}

.add-button-image {
    background-color: #3689e6;
    color: @text_color;
    border-radius: 50%;
}

.add-button-menu:hover image {
    animation: add-animation 0.5s ease-in-out;
}

.fancy-turn-animation:hover image {
    animation: fancy-turn 0.7s ease-in-out;
}

.magic-button-animation:hover image {
    animation: add-animation 0.7s ease-in-out;
}

.project-icon {
    background-color: #3689e6;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.area-icon {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
}

.magic-button {
    border-radius: 50%;
    padding: 5px;
}

.label-button {
    background-color: alpha (@text_color, 0.08);
    border-radius: 12px;
    padding: 0px 6px 0px 6px;
    color: @text_color;
    opacity: 0.7;
}

.magic-button {
    border-radius: 50%;
}

.new-item-action-button {
    font-size: 12px;
}

.check-eventbox { 
    background-color: alpha (#3689e6, 0.25);
    border-radius: 4px
}

.check-eventbox-border {
    border: 1px solid alpha (#3689e6, 0.45);
}

.check-entry {
    border-width: 0 0 1px;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-bottom: none;
}

.check-entry.active {
    padding-left: 0px;
}

.new-entry {
    border-width: 0 0 1px;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border-bottom: none;
}

.header-title {
    font-weight: bold;
    font-size: 13.6px;
}

.header-entry {
    background-color: @projectview_color;
    padding-left: 0px;
    border-bottom: none;
}

.menu-button {
 padding: 3px;
}

.project-name-entry {
    font-size: 18px;
    padding-left: 0px;
    padding-top: 0px;
    background-color: @projectview_color;
}

.project-name-entry:focus {
    border-bottom: 1px solid alpha (@colorAccent, 0.8);
    box-shadow: none;
}

.title-label {
    font-size: 18px;
}

.duedate-upcoming {
    color: @text_color;
}

.duedate-upcoming image {
    color: @text_color;
}

.duedate-expired {
    color: #ed5353;
}

.duedate-expired image {
    color: #ed5353;
}

.duedate-today {
    color: @duedate_today_color;
}

.duedate-today image {
    color: @duedate_today_color;
}

.checklist-button check {
    border-radius: 4px;
}

.checklist-check check {
    border: 1.3px solid #3689e6;
}

.label-row {
    background-color: @base_color;
}

.label-row label {
    color: @text_color;
}

.planner-dialog headerbar {
    padding: 0px;
}

.font-weight-600 {
    font-weight: 600;
}

.label-item {
    border-radius: 12px;
    border: 1px solid alpha (@fg_color, 0.45);
    padding: 0px 9px 0px 3px;
    font-size: 12px;
    font-weight: 600;
    color: @text_color;
}

.no-padding {
    padding: 0px;
}

.item-hover {
    background-color: #3689e6;
    border-radius: 3px;
}

.label-item-button {
    background-color: transparent;
}

.preference-item-radio {
    border-top: 1px solid @menu_separator;
    border-bottom: 1px solid @menu_separator_shadow;
    margin-bottom: -1px;	
    padding: 7px 6px 6px 12px;
    background-color: @base_color;   
    font-weight: 600;
}

.active-switch slider {
    min-height: 16px;
    min-width: 16px;
}

.info-bar-button {
    color: #fff;
}

.item-complete {
    text-decoration:line-through;
}

.label-danger {
    color:#ed5353;
}

.planner-switch slider {
    min-height: 16px;
    min-width: 16px;
}

.popover-model-button {
    padding-left: 9px;
}

.circle {
    border-radius: 50%;
}

.label-line-through {
    text-decoration: line-through;
}

.menu-danger:hover {
    background-color: transparent;
    color: #ed5353;
}

.menu-danger:hover image {
    color: #ed5353;
}

/*
    Label Select
*/

.entry-label-select {
    background: @base_color;
    border-radius: 4px;
    padding: 2px 3px 2px 6px;
    font-size: 12px;
}