@keyframes spin {
    from {-gtk-icon-transform: rotate(360deg);}
    to {-gtk-icon-transform: rotate(0deg);}
}

@keyframes fancy-turn {
    0%   { -gtk-icon-transform: rotate(0deg);   }
    25%  { -gtk-icon-transform: rotate(-30deg); }
    50%  { -gtk-icon-transform: rotate(0deg);   }
    75%  { -gtk-icon-transform: rotate(30deg);  }
    100% { -gtk-icon-transform: rotate(0deg);   }
}

@keyframes add-animation {
    0% { -gtk-icon-transform: rotate(0deg); }
    100% { -gtk-icon-transform: rotate(180deg); }
}

@keyframes breathing {
    0% {
      -gtk-icon-transform: scale(0.9);
    }
  
    25% {
      -gtk-icon-transform: scale(1);
    }
  
    60% {
      -gtk-icon-transform: scale(0.9);
    }
  
    100% {
      -gtk-icon-transform: scale(0.9);
    }
  }