.calendar-day {
    padding: 3px 6px;
    border-radius: 9px;
}

.calendar-day.selected {
    background-color: #3584e4;
    color: #fafafa;
}

.calendar-day.today {
    color: #33d17a;
    font-weight: bold;
}