.calendar-today {
    color: #33d17a;
    border-radius: 9px;
    padding: 3px;
    font-weight: bold;
}

.calendar-day-selected {
    background-color: #4a82ef;
    color: #fafafa;
    border-radius: 9px;
    padding: 3px;
}