.filter-pane-row {
    box-shadow: none;
    padding: 6px;
    border-radius: 9px;
    transition: all 225ms ease-in-out;
    background-color: alpha(@colorAccent, 0.15);
    color: @colorAccent;
}

.filter-pane-row.animation image {
    animation: fancy-turn 0.7s ease-in-out;
}

.filter-pane-row:hover,
.filter-pane-row.selected {
    box-shadow: 0px 0px 3px 1px @colorAccent;
}

.sidebar-row {
    padding: 0;
    transition: all 220ms ease-in-out;
    background-color: transparent;
}

.sidebar-row:selected,
.sidebar-row:hover {
    outline: none;
}

.separator-lines row:not(:first-child) {
    border-top: 1px solid @item_border_color;
}

.selectable-item {
    padding: 0;
    border-radius: 9px;
    transition: all 220ms ease-in-out;
    background-color: transparent;
    outline: none;
}

.selectable-item:hover {
    background-color: alpha(@shade_color, 0.65);
    outline: none;
}

.selectable-item.selected {
    background-color: @shade_color;
    border-radius: 9px;
}

.drop-css {
    border-radius: 9px;
    transition: all 220ms ease-in-out;
}

.sidebar {
    background: @sidebar_bg_color;
}

.sidebar-card {
    box-shadow: none;
    border: 1px solid @item_border_color;
}

.gift-animation,
.gift-animation image {
    animation-name: fancy-turn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-play-state: running;
}
