@define-color accent_color #3584e4;
@define-color window_bg_color #f9f9f9;
@define-color popover_bg_color #ffffff;
@define-color sidebar_bg_color #f3f4f6;
@define-color item_border_color #dcdfe3;
@define-color upcoming_bg_color #f0f1f3;
@define-color upcoming_fg_color #2d2e32;
@define-color selected_color #dbeafe;
@define-color card_bg_color #ffffff;